<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>testing this bot</h1>
    <p></p>
    <a type="button" class="btn btn-lg btn-default" href="https://discordapp.com/oauth2/authorize?client_id=261192308404387840&scope=bot&permissions=0">testing how to use bots lol..thank you so much whoever did this!!</a>
  </div>
</div>

</body>
</html>
