<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Emerald Adventure Bot</h1>
    <p></p>
    <a type="button" class="btn btn-lg btn-default" href="https://discordapp.com/oauth2/authorize?client_id=238785800764915712&scope=bot&permissions=0">Adventure is a Discord channel away - Add To Discord Server</a>
  </div>
</div>

</body>
</html>
